@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:cornflowerblue;">
    <div class="text-center">
        <h1 class="display-4">Welcome To Trusty Call Center</h1>
      
    </div>
    </body>
