@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Privacy"]</h1>
<div class="wrapper">
    <div class="footer-info">
        <p>Copyright@2022 TRUSTCALLCENTER.in All rights reserved</p>
        <p><a href="#">Terms of services</a> || <a href="#"> Privacy</a></p>
    </div>


